---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Gift Ideas"
  description="Browse our collection of unique gift ideas"
>
  <h1>Gift Ideas</h1>
  <p>Explore our curated collection of gift ideas for every occasion.</p>
</Layout>
